@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
p {line-height: 1.7;}
ul {list-style: none;}
li {line-height: 2.2;}
h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul li {margin-left: 20px;}
.header ul li a {
  display: flex;
  align-items: center;
}
.header ul li a:hover {color: hsl(0, 0%, 50%);}
.header ul li a svg {margin-right: 5px;}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}
.heading p {color: hsl(0, 0%, 50%);}